<div class="center text-white bg-lightBlue create-account">
  <h3>
      Twitterを使ってみよう
  </h3>
  
  <h4>
      登録してあなただけのタイムライン<br>
      を作りましょう
  </h4>

  <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-default text-lightBlue" %>
</div>