<div class="status">
  <h1>
        Status
  </h1>
  <div class="top-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="leftText"><strong>All Systems Operational</strong></p>
        <p class="rightText">Updated a month ago</p>
      </div>
    </div>
  </div>
  <div class="bottom-panel">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="leftText"><strong>Twitter</strong></p>
        <p class="rightText">Operational</p>
      </div>
    </div>
  </div>
</div>