<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%# pluralizeは数字(引数1)と文字列(引数2)をつなげるメソッド(複数系にも対応) %>
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>