<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Twitterについて", about_path %></li>
      <li><%= link_to "ヘルプ", help_path %></li>
      <li><%= link_to "ステータス", status_path %></li>
    </ul>
  </nav>
</footer>